<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Vendas
  </h1>
  <ol class="breadcrumb">
    <li><a href="/sistemamarmita/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/sistemamarmita/admin/sales">Vendas</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
            
            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Descrição da venda</th>
                    <th>Forma de Pagamento</th>
                    <th>Data/Hora</th>
                    <th>Preço</th>
                    <th style="width: 140px">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$listSales"}
                  <tr>
                    <td>{$value.idvenda}</td>
                    <td>{function="formatDescription($value.describeVenda)"}</td>
                    <td>{$value.forma_pagamento}</td>
                    <td>{$value.dt_register}</td>
                    <td>R$ {$value.vltotal}</td/>
                    <td>
                      <a href="/sistemamarmita/admin/sales/{$value.idvenda}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                      <a href="/sistemamarmita/admin/sales/{$value.idvenda}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->